:root {
  --black-color: #212121;
  --white-color: #ffffff;
  --gray-color: #757575;
  --blue-color: #2196f3;
  --bg-beige: #eeeeee;
  --bg-black: #000000;
  --bg-ivory: #f5f4fa;
  --bg-white: #FFFFFF60%;
  --bg-darkgray: #2f303a;
  --bg-light-gray: #ececec;
}
body {
  font-family: 'roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ---HEADER---- */
.header-logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17%;
  color: var(--bg-black);
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.logo-part {
  color: var(--bg-black);
}
.current {
  color: var(--blue-color);
}
.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}
.header-contact:hover,
.header-contact:focus,
.header-nav:hover,
.header-nav:focus {
  color: var(--blue-color);
}
/* ---MAIN---- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--black-color);
  background-color: var(--bg-ivory);
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
}
.example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.example-list {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.button-nav:hover,
.button-nav:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.section-one {
  background-color: var(--bg-darkgray);
}
.paragraph-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button-nav-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  font-family: inherit;
}
.button-nav-main:hover,
.button-nav-main:focus {
  color: var(--white-color);
  background-color: var(--bg-darkgray);
}
.list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-item-description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--gray-color);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--gray-color);
}
.section-team {
  background-color: var(--bg-ivory);
}
.team-list {
  background-color: var(--white-color);
}
/* ---FOOTER---- */
.footer-logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--blue-color);
}

.logo-footer {
  color: var(--white-color);
}
.footer-nav {
  background-color: var(--bg-darkgray);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-address:hover,
.footer-link:hover,
.footer-address:focus,
.footer-link:focus {
  color: var(--blue-color);
}
